* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
  font-family: "montserrat";
  color: white;
}

$orange-peel: hsla(34, 100%, 59%, 1);
$tea-green: hsla(82, 50%, 82%, 1);
$moonstone: hsla(185, 37%, 48%, 1);
$yinmn-blue: hsla(212, 44%, 32%, 1);
$night: hsla(0, 0%, 4%, 1);

body {
  background-color: $night;
}
.app {
  padding: 0 24px;
}

nav {
  display: flex;
  // justify-content: space-evenly;
  height: 72px;
  align-items: center;
  border-bottom: 1px solid grey;
  div:nth-child(2) {
    margin: 0 auto;
  }

  div:first-child {
    margin-right: auto;
  }

  .links {
    flex-wrap: nowrap;
    white-space: nowrap;
    a {
      position: relative;
      transition: 0.2s all ease;
      color: grey;
    }
    a.active {
      color: white;
    }
    a::after {
      position: absolute;
      content: "";
      height: 2px;
      background-color: $orange-peel;
      width: 100%;
      left: 50%;
      bottom: 0;
      transform: translateX(-50%) translateY(12px);
      opacity: 0;
      pointer-events: none;
      transition: 0.2s all ease;
    }
    a.active::after {
      transition: 0.2s all ease;
      opacity: 1;
      transform: translateX(-50%) translateY(8px);
    }
  }

  div {
    display: flex;
    align-items: center;
    gap: 12px;
  }

  .input {
    display: flex;
    gap: 10px;
    height: fit-content;
    outline: 1px solid grey;
    padding: 2px;
    input {
      outline: none;
      border: none;
      background-color: inherit;
      height: 32px;
      width: 272px;
      padding: 2px;
    }
    button {
      border: none;
      outline: none;
      width: 32px;
      aspect-ratio: 1/1;
      display: grid;
      place-items: center;
      background: none;
      svg {
        height: 18px;
        stroke: $orange-peel;
      }
    }
  }

  .ham {
    display: none;
    margin: -2px;
    z-index: 10;
  }
  .logo {
    z-index: 10;
  }
}

.nav_drop_down {
  position: fixed;
  width: 100%;
  height: 100vh;
  background-color: $night;
  left: 0;
  top: 0;
  transform: translateX(-110vh);
  transition: 0.2s;
  z-index: 5;
  display: flex;
  align-content: center;
  flex-direction: column;
  justify-content: center;
  gap: 24px;
  a {
    font-size: 24px;
  }
  a.active {
    color: $orange-peel;
  }
}

.app {
  display: flex;
  flex-direction: column;
  gap: 22px;
}
///Home Screen

.main_cont {
  height: 500px;
  display: flex;
  gap: 24px;
  .left {
    width: 100%;
    // background-color: blue;
    // margin-top: 30px;
    .loader {
      height: max-content;
      padding: 12px;
      // background-color: red;
      display: grid;
      width: 100%;
      place-items: center;
      margin-bottom: 100px;
    }
  }
  .right {
    width: 30%;
    // background-color: red;
    min-width: 252px;
    display: flex;
    flex-direction: column;
    gap: 12px;
    > * {
      outline: 1px solid grey;
    }
  }
}

.anime_list {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 4px;
  .header {
    border-bottom: 1px solid grey;
    padding: 12px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .filter_list {
      display: flex;
      gap: 10px;
      .filter {
        padding: 8px;
        font-size: 12px;
        background-color: $yinmn-blue;
        user-select: none;
        cursor: pointer;
        transition: 0.2s ease;
      }
      .filter:hover {
        outline: 1px solid $moonstone;
      }
      .filter_active {
        outline: 1px solid $moonstone;
      }
    }
  }

  .cards {
    display: flex;
    gap: 12px;
    padding: 12px 0;
    flex-wrap: wrap;
    justify-content: flex-start;
  }
}

.card {
  display: flex;
  flex-direction: column;
  width: 170px;
  aspect-ratio: 9/12;
  background-color: $yinmn-blue;
  cursor: pointer;
  position: relative;
  isolation: isolate;
  outline: 1px solid $yinmn-blue;
  transition: 0.2s ease;
  img {
    position: absolute;
    height: 100%;
    width: 100%;
    left: 50%;
    top: 0;
    transform: translateX(-50%);
    object-fit: cover;
  }
  .text {
    z-index: 10;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.7), $night);
    backdrop-filter: blur(2px);
    width: 100%;
    margin-top: auto;
    padding: 4px;
    height: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    .title {
      color: $tea-green;
      text-transform: capitalize;
      font-size: 12px;
    }
    .epi_cont {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    .epi {
      font-size: 12px;
      text-transform: capitalize;
      padding: 2px;
    }
    .type {
      padding: 4px;
      color: white;
      background-color: $yinmn-blue;
      font-size: 14px;
      border-radius: 2px;
    }
  }
}

.card:hover {
  outline: 1px solid $orange-peel;
}

.list {
  width: 100%;
  max-width: 352px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  background-color: $night;
  padding-bottom: 12px;
  .head {
    background-color: $orange-peel;
    color: $night;
    text-transform: capitalize;
    padding: 4px 2px;
    height: 48px;
    display: grid;
    align-items: center;
  }

  .content {
    display: flex;
    flex-direction: column;
    // gap: 8px;
    padding: 0 4px;
    .item {
      border-bottom: 1px solid grey;
      padding: 8px 4px; 
      h2 {
        font-size: 12px;
        color: $orange-peel;
      }
      p {
        font-size: 12px;
      }
    }
    .item:hover {
      background-color: grey;
    }
    .item:last-child{
      border-bottom: none;
    }
  }
}
.radio {
  width: 100%;
  max-width: 352px;
  // >* {
  //   height: 32px;
  //   fill: red; 
  // }
}

///page routing buttons
.pagination {
  display: flex;
  gap: 12px;
  align-items: center;
  align-self: center;
  .number {
    font-size: 24px;
  }
  button {
    background: $orange-peel;
    outline: none;
    border: none;
    padding: 4px;
  }
}

.stream {
  .left {
    // background-color: red;
    display: flex;
    flex-direction: column;
    video {
      width: 100%;
    }
    .episode_list {
      display: flex;
      flex-direction: column;
      gap: 24px;

      .button {
        background: $yinmn-blue;
        width: 40px;
        aspect-ratio: 1/1;
        display: grid;
        place-items: center;
        border-radius: 2px;
        cursor: pointer;
        outline: 1px solid $yinmn-blue;
      }
      .button:hover {
        outline: 1px solid $orange-peel;
      }
      a.active {
        background-color: "red";
      }
      .cont {
        display: flex;
        gap: 8px;
        flex-wrap: wrap;
      }
    }

    .details_mobile {
      display: flex;
      flex-direction: column;
      gap: 10px;
      margin-bottom: 12px;
      border-top: 1px solid $moonstone;
      padding: 12px 0;
      display: none;
      .details_title {
        display: flex;
        align-items: center;
        gap: 8px;
        flex-wrap: wrap;
        .details_year {
          color: $tea-green;
        }
        .details_type {
          background-color: $moonstone;
          padding: 4px;
          border-radius: 2px;
          color: white;
          display: grid;
          place-items: center;
        }
      }
      p {
        font-size: 12px;
      }
    }
  }

  .video {
    display: flex;
    flex-direction: column;
    gap: 12px;
    .quality_list {
      padding: 12px  0;
      display: flex;
      gap: 12px;
      flex-wrap: wrap;
      .quality {
        background-color: $yinmn-blue;
        padding: 8px;
        cursor: pointer;
        font-size: 12px;
        border-radius: 4px;
        
      }
      .quality:active{
        background-color: $tea-green;
      }
    }

    .react-player {
      position: relative;
      // background-color: red;
      padding: 2px;
      // padding: 5px;
    }
    // .react-player > video {
    //   position: absolute;
    //   object-fit: fill;
    //   // left: 0;
    //   // top: 0;
    // }
  }
}

//video information
.video_details {
  display: flex;
  flex-direction: column;
  padding: 12px 18px;
  gap: 12px !important;
  img {
    width: 80%;
    align-self: center;
    outline: 1px solid $yinmn-blue;
  }
  .title {
    display: flex;
    flex-direction: column;
    gap: 12px;
    // padding:  0 12px;
  }
  .status_cont {
    display: flex;
    flex-direction: column;
    gap: 12px;
    color: $tea-green;
  }

  .epi_count span,
  .status span,
  .year spantt {
    color: $tea-green;
  }

  .status,
  .year,
  .epi_count {
    font-size: 14px;
  }

  .description {
    font-size: 14px;
  }
}

@media screen and (max-width: 852px) {
  .cards {
    justify-content: center !important;
  }
  .details_mobile {
    display: flex !important;
  }
  .card {
    width: 152px;
  }
  nav {
    gap: 8px;
    .links {
      display: none;
    }
    .ham {
      display: flex;
    }
  }
  .main_cont {
    .right {
      display: none;
    }
  }
}

@media screen and (max-width: 450px) {
  nav {
    gap: 8px;
    form {
      width: 100% !important;
      input {
        width: 100% !important;
      }
    }
  }
}

// .player-wrapper {
//   width: auto; // Reset width
//   height: auto; // Reset height
// }
// .react-player {
//   padding-top: 56.25%; // Percentage ratio for 16:9
//   position: relative; // Set to relative
// }

// .react-player > div {
//   position: absolute; // Scaling will occur since parent is relative now
// }
